.hidden {
  display: none;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white;
}

#app:not(.hidden) {
  height: 100%;
  width: min(80ch, 100vw);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column-end: 1;
}

#app:not(.hidden)>dialog[open] {
  width: min(80ch, 80vw);
}

#app:not(.hidden)>dialog[open]>div {
  display: grid;
  grid-template-columns: 1fr auto auto;
  width: 100%;
}

#quillTextarea {
  resize: none;
  overflow-y: auto;
  min-height: 4ch;
  max-height: 80vh;
  max-width: 100%;
}

#quillTextarea::-webkit-scrollbar {
  width: 0px;
}

#quillList>div {
  padding: 1ch;
  border: 1px solid white;
  border-radius: 1ch;
  margin: 1ch;
  max-width: min(80ch, 100vw);
  overflow-wrap: break-word;
}

#app>#topAnchor {
  padding: 1ch;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

#app>#topAnchor>#searchQuill {
  min-width: 8ch;
}
